{% extends 'index.html' %}

{% block my_content %}


{% verbatim %}


<div class="container">
  <h1 class="display-5">Аналитика по сезону</h1>
  <p class="lead">
    Аналитику считайте в конце сезона, причем загрузите данные с самого начала продаж. <br>
    Например, если первая поставка сезона Весна-Лето у вас была в январе - загрузите данные с 1 января по сегодняшний день.
  </p>

<div id="analyticsapp">

    <h1>Сезон: {{capsules_data[0].get_season_name}}</h1>

<div class="container">
    <div v-for="i in sortedCapsulesData">

       <h5> {{i.name}}
       <span class="badge badge-info">{{i.gender}}</span>
       <span class="badge badge-info" v-if="i.age != '---'">{{i.age}}</span>
       </h5>

<!--<img :src="i.img" v-if="i.img" /> -->
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Группа</th>
              <th scope="col">Продано, шт.</th>
              <th scope="col">Остаток, шт.</th>
              <th scope="col">Процент реализации</th>
            </tr>
          </thead>


          <tbody>
            <tr v-for = "(v,k) in i.type_of_clothes">

                <th v-if="k != 'Итого'" scope="row" style = font-weight:normal > {{k}} </th>
                <th v-else scope="row" > {{k}} </th>

                <td>{{v[0]}}</td>
                <td>{{v[1]}}</td>
                <td v-if="v[2] > 79"> <span class="bg-success text-white"> {{v[2]}} % </span> </td>
                <td v-else-if="v[2] < 35"> <span class="bg-danger text-white"> {{v[2]}} % </span> </td>
                <td v-else-if="v[2] > 35 && v[2] < 50"> <span class="bg-warning text-dark"> {{v[2]}} % </span> </td>
                <td v-else> {{v[2]}} % </td>


                </tr>
            </div>
          </tbody>

        </table>


        <br>
    </div>




 <div class="container">
     <h1>Итого по половозрастным группам</h1>
     <div v-for = "(value,key) in season_data[0].analytics_gender_age">
     <h2>{{key}}</h2>
         <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Группа</th>
              <th scope="col">Продано, шт.</th>
              <th scope="col">Остаток, шт.</th>
              <th scope="col">Процент реализации</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for = "(v,k) in value">
                <th scope="row" style = font-weight:normal > {{k}} </th>

                <td>{{v[0]}}</td>
                <td>{{v[1]}}</td>
                <td v-if="v[2] > 79"> <span class="bg-success text-white"> {{v[2]}} % </span> </td>
                <td v-else-if="v[2] < 35"> <span class="bg-danger text-white"> {{v[2]}} % </span> </td>
                <td v-else-if="v[2] > 35 && v[2] < 50"> <span class="bg-warning text-dark"> {{v[2]}} % </span> </td>
                <td v-else> {{v[2]}} % </td>

            </tr>

          </tbody>

        </table>

<!--     <h2>МАЛЬЧИКИ МИНИ</h2>-->

<!--         <table class="table table-sm">-->
<!--          <thead>-->
<!--            <tr>-->
<!--              <th scope="col">Группа</th>-->
<!--              <th scope="col">Продано, шт.</th>-->
<!--              <th scope="col">Остаток, шт.</th>-->
<!--              <th scope="col">Процент реализации</th>-->
<!--            </tr>-->
<!--          </thead>-->

<!--          <tbody>-->
<!--            <tr v-for = "(v,k) in season_data[0].analytics_boys_mini">-->
<!--                <th v-if="k != 'Итого'" scope="row" style = font-weight:normal > {{k}} </th>-->
<!--                <th v-else scope="row" > {{k}} </th>-->

<!--                <td>{{v[0]}}</td>-->
<!--                <td>{{v[1]}}</td>-->
<!--                <td v-if="v[2] > 79"> <span class="bg-success text-white"> {{v[2]}} % </span> </td>-->
<!--                <td v-else-if="v[2] < 35"> <span class="bg-danger text-white"> {{v[2]}} % </span> </td>-->
<!--                <td v-else-if="v[2] > 35 && v[2] < 50"> <span class="bg-warning text-dark"> {{v[2]}} % </span> </td>-->
<!--                <td v-else> {{v[2]}} % </td>-->

<!--            </tr>-->

<!--          </tbody>-->

<!--        </table>-->
 </div>
 </div>





</div>



</div>
<br>
<br>
{% endverbatim %}

<script>
// Выделяем из адресной строки номер сезона
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const season_number = urlParams.get('season')

</script>

<script src="/static/analytics_app.js"></script>
{% endblock %}