{% extends 'index.html' %}

{% block my_content %}


{% verbatim %}


<div class="jumbotron">
  <h1 class="display-5">Аналитика по сезону</h1>
  <p class="lead">
    Аналитику считайте в конце сезона, причем загрузите данные с самого начала продаж. <br>
    Например, если первая поставка сезона Весна-Лето у вас была в январе - загрузите данные с 1 января по сегодняшний день.
  </p>

<div id="analyticsapp">

    <h1>Сезон: {{capsules_data[0].get_season_name}}</h1>

<div class="container">
    <div v-for="i in capsules_data">

       <h5> {{i.name}}
       <span class="badge badge-light">{{i.gender}}</span>
       <span class="badge badge-light" v-if="i.age != '---'">{{i.age}}</span>
       </h5>

<!--<img :src="i.img" v-if="i.img" /> -->
        <div class="row">
            <div class="col"> Группа </div>
            <div class="col"> Продано, шт. </div>
            <div class="col"> Остаток, шт. </div>
            <div class="col"> Процент реализации </div>
        </div>
                        <hr class="border-1 border-black mx-5"/>

            <div v-for = "(value,key) in i.type_of_clothes">

                <div v-if="value[2] != 0">
                <div class="row" >
                    <div class="col">
                        {{key}}
                    </div>
                    <div class="col">
                        {{value[0]}}
                    </div>
                    <div class="col">
                        {{value[1]}}
                    </div>
                    <div class="col">
                        {{value[2]}} %
                    </div>

                </div>

                </div>


             </div>


<!--                <hr class="border-2 border-black mx-5"/>-->
        <br>
    </div>

</div>
</div>
</div>
<br>
<br>
{% endverbatim %}

<script>
// Выделяем из адресной строки номер сезона
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const season_number = urlParams.get('season')

</script>

<script src="/static/analytics_app.js"></script>
{% endblock %}