{% extends 'index.html' %}

{% block my_content %}


{% verbatim %}


<div class="container">
  <h1 class="display-5">Аналитика по сезону</h1>
  <p class="lead">
    Аналитику считайте в конце сезона, причем загрузите данные с самого начала продаж этого сезона. <br>
    Например, если первая поставка сезона Весна-Лето у вас была в январе - загрузите данные с 1 января по сегодняшний день.
  </p>

<div id="analyticsapp">

    <h1>Сезон: {{capsules_data[0].get_season_name}}</h1>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" v-bind:class="{active : tabSelector == 1}" v-on:click="tabSelector=1">По капсулам</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" v-bind:class="{active : tabSelector == 2}" v-on:click="tabSelector=2">По половозрастным группам</a>
      </li>
    </ul>
<br>

<!--   First container with Analytics by Capsules   -->
<div class="container" v-if="tabSelector==1">
    <div v-for="i in sortedCapsulesData">

       <h5> {{i.name}}
       <span class="badge badge-info">{{i.gender}}</span>
       <span class="badge badge-info" v-if="i.age != '---'">{{i.age}}</span>
       </h5>

<!--<img :src="i.img" v-if="i.img" />-->
        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Группа</th>
              <th scope="col">Продано, шт.</th>
              <th scope="col">Остаток, шт.</th>
              <th scope="col">Всего, шт.</th>
              <th scope="col">Процент реализации</th>
            </tr>
          </thead>


          <tbody>
            <tr v-for = "(v,k) in i.type_of_clothes">


                <td v-if="k == 'Итого'" scope="row" class="table-active"> <b>{{k}}</b> </td>
                <td v-else scope="row" > {{k}} </td>

                <td v-if="k == 'Итого'" class="table-active"> <b>{{v[0]}}</b></td>
                <td v-else>{{v[0]}}</td>

                <td v-if="k == 'Итого'" class="table-active"> <b>{{v[1]}}</b></td>
                <td v-else>{{v[1]}}</td>

                <td v-if="k == 'Итого'" class="table-active"> <b>{{v[0]+v[1]}}</b></td>
                <td v-else>{{v[0]+v[1]}}</td>

                <td v-if="v[2] > 79"> <span class="bg-success text-white"> {{v[2]}} % </span> </td>
                <td v-else-if="v[2] < 35"> <span class="bg-danger text-white"> {{v[2]}} % </span> </td>
                <td v-else-if="v[2] > 35 && v[2] < 50"> <span class="bg-warning text-dark"> {{v[2]}} % </span> </td>
                <td v-else> {{v[2]}} % </td>

            </tr>
          </tbody>

        </table>
    </div>
        <br>
</div>
<!--End first container-->


<!--   Second container with Analytics by Gender and Age   -->

 <div class="container" v-else-if = "tabSelector==2">
<!--     <h1>Итого по половозрастным группам</h1>-->

     <div v-for = "(value,key) in season_data[0].analytics_gender_age">
        <h5>{{key}}</h5>
         <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Группа</th>
              <th scope="col">Продано, шт.</th>
              <th scope="col">Остаток, шт.</th>
              <th scope="col">Всего, шт.</th>
              <th scope="col">Процент реализации</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for = "(v,k) in value">

                <td v-if="k == 'Итого'" scope="row" class="table-active"> <b>{{k}}</b> </td>
                <td v-else scope="row" > {{k}} </td>

                <td v-if="k == 'Итого'" class="table-active"> <b>{{v[0]}}</b></td>
                <td v-else>{{v[0]}}</td>

                <td v-if="k == 'Итого'" class="table-active"> <b>{{v[1]}}</b></td>
                <td v-else>{{v[1]}}</td>

                <td v-if="k == 'Итого'" class="table-active"> <b>{{v[0]+v[1]}}</b></td>
                <td v-else>{{v[0]+v[1]}}</td>

                <td v-if="v[2] > 79"> <span class="bg-success text-white"> {{v[2]}} % </span> </td>
                <td v-else-if="v[2] < 35"> <span class="bg-danger text-white"> {{v[2]}} % </span> </td>
                <td v-else-if="v[2] > 35 && v[2] < 50"> <span class="bg-warning text-dark"> {{v[2]}} % </span> </td>
                <td v-else> {{v[2]}} % </td>

            </tr>
          </tbody>
        </table>

     </div>
 </div>
<!--End second container-->








</div>

</div>
<br>
<br>
{% endverbatim %}

<script>
// Выделяем из адресной строки номер сезона
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const season_number = urlParams.get('season')

</script>

<script src="/static/analytics_app.js"></script>
{% endblock %}