{% extends 'index.html' %}

{% block my_content %}

{% verbatim %}


<div v-cloak id="capsulesapp">

  <nav aria-label="breadcrumb" style="font-size: 1.2rem;">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Сезон: {{capsules_data[0].get_season_name}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Коллекции</li>
      </ol>
  </nav>

  <div class="container mx-0">
      <div class="row">
          <div class="col">
              <p class="text-end">Для сортировки по параметру - нажмите на него</p>
          </div>

           <div class="col">
               <div class="form-check form-check-inline">
                   <input class="form-check-input" type="checkbox" id="CheckboxForCharts" v-model="checked">
                   <label class="form-check-label" for="CheckboxForCharts">Показать графики "Кол-во проданного"</label>
               </div>
           </div>
          <div class = "col">
                  <a href="/open" role="button" class="btn btn-primary">
                   <i class="bi bi-calculator-fill" style="font-size: 1rem;"></i>
                     &nbsp Аналитика
                </a>
          </div>

      </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
        <div v-for = "i in sortedCapsulesData">
            <div class="col">
                <div class="card text-center text-white bg-info mx-0 px-0" style="width: 18rem;">

                    <a :href="'/sku/?capsule=' + i.id">
                    <img class ="card-img-top img-thumbnail" :src="i.img" v-if="i.img" />
                    </a>

                    <div class="card-body">
                        <h3 class="card-title">
                        <a :href="'/sku/?capsule=' + i.id" class="card-link text-white">{{i.name}}</a>
                        </h3>

                        <p class="card-text">

                        <a v-on:click="sortParam='capsule_firstletters', checked=false">
                        {{i.capsule_firstletters}}
                        </a><br>
                            <span class="badge badge-light">{{i.gender}}</span>
                            <span class="badge badge-light" v-if="i.age != '---'">{{i.age}}</span>
                        <div class="row">
                            <div class="col-sm-1 px-0">

                            </div>

                            <div class="col-sm-6 text-left px-2">

                                <a v-on:click="sortParam='sku_sellsumm_sold', checked=false">
                                Продажи(р.ц.)
                                </a>
                            </div>

                            <div class="col text-left">
                                {{i.sku_sellsumm_sold | format }} р.
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1 px-0">

                            </div>

                            <div class="col-sm-6 text-left px-2">
                                Продажи(з.ц.)
                            </div>

                            <div class="col text-left">
                                {{i.sku_costsumm_sold | format }} р.
                            </div>
                        </div>

                        <hr class="border-1 border-white mx-5"/>

                        <div class="row">
                            <div class="col-sm-1 text-left px-0">

                            </div>

                            <div class="col-sm-6 text-left px-2">
                                <a v-on:click="sortParam='sku_income', checked=false">
                                Прибыль:
                                </a>
                            </div>

                            <div class="col text-left">
                                {{i.sku_income | format }} р.
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-1 px-0">

                            </div>

                            <div class="col-sm-6 text-left px-2">
                                <a v-on:click="sortParam='sku_margin_percent', checked=false">
                                Наценка
                                </a>
                            </div>

                            <div class="col text-left">
                                {{i.sku_margin_percent}} %
                            </div>

                        </div>

                        <hr class="border-1 border-white mx-5"/>

                        <div class="row">
                            <div class="col-sm-1 px-0">

                            </div>

                            <div class="col-sm-6 text-left px-2">
                                <a v-on:click="sortParam='sku_costsumm_instock', checked=false">
                                Остатки(з.ц.)
                                </a>
                            </div>

                            <div class="col text-left">
                                {{i.sku_costsumm_instock | format }} р.
                            </div>
                        </div>

                        <hr class="border-1 border-white mx-5"/>
                        Рейтинги:
                        <div class="row">
                            <div class="col px-0 mytooltip">
                                <span class="badge badge-pill badge-light">{{i.rating_income}}</span>
                                <span class="tooltiptext"> Рейтинг по прибыли </span>
                            </div>

                            <div class="col px-0 mytooltip">
                                <span class="badge badge-pill badge-light">{{i.rating_rel_leftovers}}</span>
                                <span class="tooltiptext"> Отн. остатки {{i.relative_leftovers}} %  </span>
                            </div>

                            <div class="col px-0 mytooltip">
                                <span class="tooltiptext"> Рентабельность активов {{i.rentability}} %</span>
                                <span class="badge badge-pill badge-light">{{i.rating_rentability}}</span>
                            </div>

                        </div>

                        <a v-on:click="sortParam='total_rating', checked=false">
                        Общий рейтинг : <span class="badge badge-pill badge-warning"> {{i.rating_total}}</span>
                        </a>
                        <hr class="border-1 border-white mx-5"/>
                        Тип: Продано / В остатке / Процент реализации <br>
                        <div v-for= "(value, key) in i.type_of_clothes">
                            <div v-if="value[0] != 0 && value[1] != 0">
                                {{key}} {{value}}
                            </div>
                        </div>
<!--                        Кол-во проданных: {{i.sizes_sold_quantity}} <br>-->
<!--                        Кол-во в остатке: {{i.sizes_instock_quantity}} <br>-->
<!--                        <hr class="border-1 border-white mx-5"/>-->
<!--                        Оборот (закуп.) {{i.sku_costsumm_instock + i.sku_costsumm_sold | format }} р.-->
<!--                        <br>-->
<!--                        Рентабельность ROS: {{(i.sku_income*100/i.sku_sellsumm_sold).toLocaleString('ru-RU',{maximumFractionDigits:1}) }} %-->
<!--                        <br>-->
<!--                        Валовая маржа Gross Margin:-->
<!--                        {{(i.sku_income*100/i.sku_sellsumm_sold).toLocaleString('ru-RU',{maximumFractionDigits:1}) }} %-->
                        </p>

                        <div class="card-footer px-0 py-0" v-if="checked == true && i.sold_sizes_forchart[0] > []">
                            <sizeschart
                                  v-bind:sizes_list="i.sold_sizes_forchart[0]"
                                  v-bind:labels_list="i.sold_sizes_forchart[1]"
                                  v-bind:mychartid="i.id"
                                  width="220" height="70">
                            </sizeschart>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
  </div>

</div>
<br>

{% endverbatim %}

<script>
// Выделяем из адресной строки номер сезона
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const season_number = urlParams.get('season')

</script>

<script src="/static/capsules_app.js"></script>

</body>
</html>

{% endblock %}